
.mainDiv{
    display: flex;
    gap: 20px;
}
.gameboard {
    display: inline-block;
  }
.grid-cell.blur {
    filter: blur(1px);
     /* Optional: to disable interactions */
}
  .grid-cell-hidden{
    display: none;
  }
  .grid-row {
    display: flex;
  }
  .grid-cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 