:root {
  --main-color: #ecf0f1;
  --point-color: #555;
  --size: 5px;
}

body {
  display: flex;
  padding-bottom: 60px;
  flex-direction: column;       
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.loader {
  background-color: var(--main-color);      /* credit goes to https://codepen.io/petersonby/pen/gzxpdj for animation*/
  overflow: hidden;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto; /* Center the loader */
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  animation: fadeIn 2s ease-in-out; /* Add animation here */
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.mainDiv {
  display: flex;
  gap: 120px;
  padding-bottom: 35px;
}

.gameboard {
  display: inline-block;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.grid-cell.blur {
  filter: blur(5px);
}

.grid-cell-hidden {
  display: none;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ship-cell {
  background-color: #007bff; /* Blue color for ship cells */
}

.hit-cell {
  background-color: red; /* Red color for hits */
}

.miss-cell {
  background-color: grey; /* Grey color for misses */
}

::-webkit-scrollbar{
  width: 0; 
    background: transparent;
}
